<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/cart']" >
        <ion-icon name="arrow-back-outline" style="color:#D4C5C7"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color:#D4C5C7">
      Editar item
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <img src="https://source.unsplash.com/500x200/?food" class="img-plate">
  <ion-grid>
    <ion-row>
      <!-- Name of the plate -->
      <ion-col>
          <h3>{{ plate.nome }}</h3>
          <span class="span-delivery"><ion-icon name="bicycle-outline"></ion-icon> {{ plate.preco }} €</span>
      </ion-col>

      <!-- Rating -->
      <ion-col style="text-align: right;">

        <h3><ion-icon size="small" name="star-sharp"></ion-icon> 4,6</h3>
        <h3 *ngIf="changedPlate"><ion-icon size="small" name="star-sharp"></ion-icon> Pedido especial</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list >
    <ion-item *ngFor="let entry of checkboxList" >
      <ion-label style="color: #3C3744;" >{{entry.val}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-col>
      <ion-grid>
        <ion-row>
          <ion-col style="display:flex;justify-content:center;align-items:center;">
            <ion-button (click)="decrementQuantity()" [disabled]="plate.quantidade <= 1" color="light"><ion-icon name="remove-outline"></ion-icon></ion-button>
            </ion-col>
          <ion-col style="display:flex;justify-content:center;align-items:center;">
            {{ plate.quantidade }}
          </ion-col>
          <ion-col style="display:flex;justify-content:center;align-items:center;">
            <ion-button (click)="incrementQuantity()" color="light"><ion-icon name="add-outline"></ion-icon></ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-grid>
  <div style="display:flex;justify-content:center;align-items:center;">
    <ion-button class="button-continue" (click)="save()" color="success">Guardar alterações</ion-button>
  </div>
</ion-content>
