<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['']" >
        <ion-icon name="arrow-back-outline" style="color:#D4C5C7"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color:#D4C5C7">Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let i of historico, let a = index" [attr.data-index]="i">
    <ion-card-header>
      <ion-card-title style="color:#D4C5C7">Pedido</ion-card-title>
      <label
        *ngFor="let j of i" style="color:#D4C5C7">{{j.nome}}<br>
      </label>
    </ion-card-header>
    <ion-card-content>
      <ion-icon (click)="alertAddItem(i)" style="color:#D4C5C7" slot="primary" size="large" name="add-outline"></ion-icon>
      <ion-icon (click)="alertReplaceCart(i)" style="color:#D4C5C7" slot="primary" size="large" name="repeat-outline"></ion-icon>
    </ion-card-content>
  </ion-card>


</ion-content>
