.span-delivery {
  background: var(--ion-color-danger);
  color: var(--ion-color-danger-contrast);
  padding: 3px 6px;
  border-radius: 6px;
}

.textarea-note {
  background-color: rgb(231, 231, 231);
  border-radius: 6px;
}

.img-plate {
  border-radius: 0px 0px 6px 6px;
}
