<!-- Plate image -->
<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="start" slot="fixed" style="color:#D4C5C7" [routerLink]="['']">
    <ion-fab-button >
      <ion-icon name="arrow-back-outline" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <img src="https://source.unsplash.com/500x200/?food" class="img-plate">
  <ion-grid>
    <ion-row>
      <!-- Name of the plate -->
      <ion-col>
          <h3>{{item.nome}} <span class="span-price"> <ion-icon name="pricetags-outline"></ion-icon> 10 €</span></h3>

          <span class="span-delivery"><ion-icon name="bicycle-outline"></ion-icon> 0.0 €</span>
      </ion-col>

      <!-- Rating -->
      <ion-col style="text-align: right;">
          <h3><ion-icon size="small" name="star-sharp"></ion-icon> 4,6</h3>
      </ion-col>

      <!-- Description -->
      <ion-col size="12" class="ion-text-justify">
        <ion-text >{{cont}}</ion-text >
      </ion-col>

      <!-- Ingredients -->
      <ion-col size="12" class="ion-text-justify">

      </ion-col>

      <!-- Notes/Observations text area -->
      <ion-col size="12">
          <ion-textarea class="textarea-note" placeholder="Deixar um recado, tal como, sem picante ou extra molho"></ion-textarea>
      </ion-col>

      <!-- Two columns for buttons (plus, minus and add to cart) -->
      <ion-col size="6">
        <ion-grid>
          <ion-row>
            <ion-col style="display:flex;justify-content:center;align-items:center;">
              <ion-button (click)="decrementQuantity()" [disabled]="quantidade == 0" color="light"><ion-icon name="remove-outline"></ion-icon></ion-button>
              </ion-col>
            <ion-col style="display:flex;justify-content:center;align-items:center;">
              {{quantidade}}
            </ion-col>
            <ion-col style="display:flex;justify-content:center;align-items:center;">
              <ion-button (click)="incrementQuantity()" color="light"><ion-icon name="add-outline"></ion-icon></ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="6" style="display:flex;justify-content:flex-end;align-items:center;">
        <ion-button color="success" (click)="adicionar()"><ion-icon size="small" name="cart-outline" ></ion-icon> Adicionar {{platePriceDisplay}} € </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>





