.span-delivery {
  background: var(--ion-color-danger);
  color: var(--ion-color-danger-contrast);
  padding: 3px 6px;
  border-radius: 6px;
}

.span-price {
  background: var(--ion-color-tertiary);
  color: var(--ion-color-tertiary-contrast);
  
  margin-right: 3px;
}

.textarea-note {
  background-color: rgb(231, 231, 231);
  border-radius: 6px;
}

.img-plate {
  border-radius: 0px 0px 6px 6px;
}

.fa {
  color: red !important;
}
