<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/historico']" >
        <ion-icon style="color:#D4C5C7" size="large" name="time-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/cart']" class="button-cart">
        <ion-icon style="color:#D4C5C7" size="large" name="cart-outline"></ion-icon>
        <ion-badge *ngIf="quantidadeCarrinho > 0" color="danger">{{ quantidadeCarrinho }}</ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-title style="color:#D4C5C7">
      TechFood
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="margin-top: 10px">
    <ion-item>
      <ion-label  position="floating" style="color:#3C3744">Pesquisar</ion-label>
      <ion-input #inputPesquisa style="color:#3C3744" clearInput  [(ngModel)]="pesquisa" (input)="filterItem(inputPesquisa.value)" ></ion-input>
    </ion-item>
  <!-- Input with clear button when there is a value -->

  </div>
  <div>
    <h5>Descontos diretos</h5>
    <div class="scrolling-wrapper">
      <ion-card *ngFor="let item of itens" class="card" (click)="verPrato(item)">
        <img [src]="item.imagem" />
        <ion-card-header>
          <ion-card-subtitle style="color:#D4C5C7">{{item.nome}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </div>

  <div>
    <h5>Tendências</h5>
    <div class="scrolling-wrapper">
      <ion-card *ngFor="let item of itens" class="card" (click)="verPrato(item)">
        <img [src]="item.imagem" />
        <ion-card-header>
          <ion-card-subtitle style="color:#D4C5C7">{{item.nome}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
